<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <iisnode node_env="production" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" watchedFiles="web.config;*.js" />
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8080/{R:1}" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>